<h1>Hi, <%= current_user %>.</h1>
<h1>There is no secret, buddy! That is the secret lol</h1>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

